@import 'reset';
@import 'vars';
@import 'components/header';








body{
    color: $text-color;
    background-color: $bg-color;
}

span{
    display: inline-block;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}